body {
    font: 16px Arial;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #444;
}
#top {
    z-index: 1;
    position: fixed;
    top: 0;
    background: #03a9f4;
    width: 100%;
    height: 40px;
}
ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    list-style: none;
}
li {
    display: block;
    float: left;
    padding: 4px 30px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    cursor: pointer;
}
#announce {
    z-index: 3;
    display: none;
    position: absolute;
    top: 40px;
    line-height: 50px;
    width: 100%;
    background: #ffc;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(100, 100, 100, 0.75);
}
#tv {
    z-index: 2;
    position: absolute;
    display: none;
    text-align: center;
    width: 85%;
    top: 40px;
}
#right {
    z-index: 1;
    position: absolute;
    top: 40px;
    right: 0;
    width: 18%;
    min-width: 200px;
    height: 100%;
    border: 2px solid #ccc;
    color: #666;
    background: #fff;
}
#examples {
    position: fixed;
    bottom: 10px;
    right: .5%;
    width: 17%;
    min-width: 190px;
    border: 1px solid #ccc;
    font-size: 12px;
    background: #fcfcfc;
}
#examples h4 {
    margin: 0;
    padding: 5px 10px;
    background: #f1f1f1;
}
#examples div {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    padding: 0 5px;
    line-height: 28px;
}
#examples div:hover {
    background: #ffe;
    color: #222;
}
#log {
    position: fixed;
    left: -2px;
    bottom: 50px;
    width: 82%;
}
#bottom {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 82%;
    background: #eaeaea;
    border-top: 1px solid #ccc;
}
#bottom input {
    font-size: 16px;
    margin: 6px 0 0 6px;
    padding: 4px 8px;
    width: 77%; 
}
#bottom button {
    padding: 4px 8px;
}
.open div {
    color: green;
}
.error div {
    color: red;
}
.event div {
    color: blue;
}
#social {
    float: right;
    padding: 5px;
}
#social a {
    display: inline-block;
    width: 77px;
    height: 20px;
    margin: 5px 5px 0 0;
}
.twitter { background: url(/img/twitter_normal.png) no-repeat; }
.facebook { background: url(/img/facebook_normal.png) no-repeat; }
.github { background: url(/img/github_normal.png) no-repeat; }
#welcome {
    float: left;
    margin: 0 5px 0 0;
    color: #f1f1f1;
}
#welcome span {
    line-height: 24px;
}
#welcome img {
    height: 24px; 
    margin: 0 0 0 5px;
    vertical-align: bottom;
}
.user img {
    height: 24px; 
    margin: 2px 5px 0 5px;
    vertical-align: bottom;
}
.user span {
    cursor: pointer;
}
.private {
    color: red;
}
.msg {
    border-top: 1px solid #eee;
}
.msg b, .msg div, .msg i {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    padding: 0 0 0 10px;
    font-style: normal;
    font-weight: normal;
}
.msg b {
    width: 200px;
    background: #fafafa;
}
.msg div {
}
.msg i {
    color: #999;
    float: right;
    padding: 0 10px 0 0;
}
.msg.highlight {
    background: #ffc;
}