<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <add key="webPages:Enabled" value="false"/>
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:1337/"/>
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:1337/auth/{0}"/>
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="6APZQFxeVVLobXT2wRZArerg0"/>
    <add key="oauth.twitter.ConsumerSecret" value="bKwpp31AS90MUBw1s1w0pIIdYdVEdPLa1VvobUr7IXR762hdUn"/>
    <!-- Create Facebook App at: https://developers.facebook.com/apps -->
    <add key="oauth.facebook.Permissions" value="email,read_stream,offline_access"/>
    <add key="oauth.facebook.AppId" value="531608123577340"/>
    <add key="oauth.facebook.AppSecret" value="9e1e6591a7f15cbc1b305729f4b14c0b"/>
    <!--Create GitHub App at: https://github.com/settings/applications/new -->
    <add key="oauth.github.Scopes" value="user" />
    <add key="oauth.github.ClientId" value="7e8a80ab55b757e7de05" />
    <add key="oauth.github.ClientSecret" value="122eb4d2762190d024dca6a319bc7c602ee942a2" />
  </appSettings>

  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral" verb="*"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="ServiceStack" />
        <add assembly="ServiceStack.Razor" />
        <add assembly="ServiceStack.Text" />
        <add assembly="Chat" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <!-- Required for IIS7 -->
  <system.webServer>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack, Version=1.0.0.0, Culture=neutral"
           verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  
  <system.web.webPages.razor>
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        <add namespace="System" />
        <add namespace="ServiceStack" />
        <add namespace="ServiceStack.Html" />
        <add namespace="ServiceStack.Razor" />
        <add namespace="ServiceStack.Text" />
        <add namespace="Chat"/>
      </namespaces>
    </pages>
  </system.web.webPages.razor>

</configuration>
